**Consider the following Python dictionary data and Python list labels:**

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**1. Create a DataFrame birds from this dictionary data which has the index labels.**

In [1]:
import pandas as pd
import numpy as np
data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data,index=labels)
df

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**2. Display a summary of the basic information about birds DataFrame and its data.**

In [2]:
data={'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 
      'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
      'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 
      'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data , index=labels)
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   birds     10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

3. Print the first 2 rows of the birds dataframe

In [3]:
print("First two rows of birds dataframe:")
print("")
print(df.iloc[:2])

First two rows of birds dataframe:

    birds  age  visits priority
a  Cranes  3.5       2      yes
b  Cranes  4.0       4      yes

**4. Print all the rows with only 'birds' and 'age' columns from the dataframe**

In [4]:
print("Rows with only birds and age columns from the dataframe:")
print("")
print(df[['birds','age']])# for printing 2 columns

Rows with only birds and age columns from the dataframe:

        birds  age
a      Cranes  3.5
b      Cranes  4.0
c     plovers  1.5
d  spoonbills  NaN
e  spoonbills  6.0
f      Cranes  3.0
g     plovers  5.5
h      Cranes  NaN
i  spoonbills  8.0
j  spoonbills  4.0

**5. select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']**

In [5]:
print("Specific rows and columns:")
print("")

#iloc-->indexing for selection by position.
print(df.iloc[[2,3,7],[0,1,2]]) ##printing 3 rows and 3 columns

Specific rows and columns:

        birds  age  visits
c     plovers  1.5       3
d  spoonbills  NaN       4
h      Cranes  NaN       2

**6. select the rows where the number of visits is less than 4**

In [6]:
print("The rows where the number of visits is less than 4:")
print("")

print(df[df['visits']<4])

The rows where the number of visits is less than 4:

        birds  age  visits priority
a      Cranes  3.5       2      yes
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**7. select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN**

In [7]:
print("The age is missing in the following rows:")
print("")

#isnull()--->Detect missing values.
print(df[df['age'].isnull()])

The age is missing in the following rows:

        birds  age  visits priority
d  spoonbills  NaN       4      yes
h      Cranes  NaN       2      yes

**8. Select the rows where the birds is a Cranes and the age is less than 4**

In [8]:
print("The rows where the birds is a Cranes and the age is less than 4:")
print("")

print(df[(df['birds']=='Cranes') & (df['age']<4)])

The rows where the birds is a Cranes and the age is less than 4:

    birds  age  visits priority
a  Cranes  3.5       2      yes
f  Cranes  3.0       4       no

**9. Select the rows the age is between 2 and 4(inclusive)**

In [9]:
print("The rows the age is between 2 and 4(inclusive):")
print("")

print(df[df['age'].between(2,4)])

The rows the age is between 2 and 4(inclusive):

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
f      Cranes  3.0       4       no
j  spoonbills  4.0       2       no

**10. Find the total number of visits of the bird Cranes**

In [10]:
print("The total number of visits of the bird Cranes:")
print("")

print(df.iloc[[0,1,5,7],[0,2]])

The total number of visits of the bird Cranes:

    birds  visits
a  Cranes       2
b  Cranes       4
f  Cranes       4
h  Cranes       2

**11. Calculate the mean age for each different birds in dataframe.**

In [11]:
#mean--->Compute mean of groups, excluding missing values.

print(df.groupby('birds').mean())

            age  visits
birds
Cranes      3.5     3.0
plovers     3.5     2.5
spoonbills  6.0     3.0

**12. Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.**

In [18]:
#Printing the original data
print("Original dataframe:\n",df)
print("")

#Appending the new row
#print("Appending new row k:")
df.loc['k']=['Kingfisher',5.0,4,'yes']
print("New appended row:\n",df)
print("")

#Deleting the new row created
df=df.drop(['k'])
print("Deleting the new row 'k' from the original dataset:\n",df)

Original dataframe:
         birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

New appended row:
         birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no
k  Kingfisher  5.0       4      yes

Deleting the new row 'k' from the original dataset:
         birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**13. Find the number of each type of birds in dataframe (Counts)**

In [40]:
df=pd.Series(['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'])
print(df)

#find the value counts
df.value_counts()

0        Cranes
1        Cranes
2       plovers
3    spoonbills
4    spoonbills
5        Cranes
6       plovers
7        Cranes
8    spoonbills
9    spoonbills
dtype: object

Cranes        4
spoonbills    4
plovers       2
dtype: int64

**14. Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.**

In [41]:
#Print the original dataset
print("Original dataset:\n",df)
print("")

#sort_values--->Sort by the values along either axis.

#Arrange dataframe (birds) first by the values in the 'age' in decending order 
print("Dataframe (birds) by the values in the 'age' in decending order:")
des=df.sort_values(by=['age'],ascending=[False])
print(des)
print("")

#the value in the 'visits' column in ascending order
print("The value in the 'visits' column in ascending order:")
asd=df.sort_values(by=['visits'],ascending=[False])
print(asd)

Original dataset:
         birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

Dataframe (birds) by the values in the 'age' in decending order:
        birds  age  visits priority
i  spoonbills  8.0       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
b      Cranes  4.0       4      yes
j  spoonbills  4.0       2       no
a      Cranes  3.5       2      yes
f      Cranes  3.0       4       no
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
h      Cranes  NaN       2      yes

The value in the 'visits' column in ascending order:
        birds  age  visits priority
b      Cranes  4.0       4      yes
d  spoonbills  NaN       4      yes
f      Cranes  3.0       4       no
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
i  spoonbills  8.0       3       no
a      Cranes  3.5       2      yes
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
j  spoonbills  4.0       2       no

**15. Replace the priority column values with'yes' should be 1 and 'no' should be 0**

In [42]:
#Print the original dataset
print("Original dataset:\n",df)
print("")

#Replace the priority column values with'yes' should be 1 and 'no' should be 0
print("Replacing the priority column values with '1' and '0':")
df['priority'] = df['priority'].map({'yes': 1, 'no': 0})
print(df)

Original dataset:
         birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

Replacing the priority column values with '1' and '0':
        birds  age  visits  priority
a      Cranes  3.5       2         1
b      Cranes  4.0       4         1
c     plovers  1.5       3         0
d  spoonbills  NaN       4         1
e  spoonbills  6.0       3         0
f      Cranes  3.0       4         0
g     plovers  5.5       2         0
h      Cranes  NaN       2         1
i  spoonbills  8.0       3         0
j  spoonbills  4.0       2         0

**16. In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.**

In [44]:
#change the 'Cranes' entries to 'trumpeters'

#replace()-->Replace values given in to_replace with value.
print("Changing the 'Cranes' entries to 'trumpeters':\n")
df=df['birds'].replace('Cranes','trumpeters')
print(df)

Changing the 'Cranes' entries to 'trumpeters':

a    trumpeters
b    trumpeters
c       plovers
d    spoonbills
e    spoonbills
f    trumpeters
g       plovers
h    trumpeters
i    spoonbills
j    spoonbills
Name: birds, dtype: object